/* 
progress bar უნდა იყოს მთელ სიგანეზე და ეწეროს ციფრები მხოლოდ
კლასები 
passed
active

*/

#mocha .test pre {
    height: 0;
    display: none;
}

/* #progress-bar, #mocha { */
#tests {
    width: 900px;
    margin: auto;
}
.uncompleted {
    color: grey;
    pointer-events: none;
}

.completed {
    color: green;
}

/*
* ღილაკი უნდა იყოს 
*/
.next-step {
    margin-right: 10px;
    float: right;
}

#random-number-list p, .login-container {
    text-align: center;
}

.login-container #name-input,
.login-container #password-input {
    margin: 2px;
}

