/* 
progress bar უნდა იყოს მთელ სიგანეზე და ეწეროს ციფრები მხოლოდ
კლასები 
passed
active

*/

#mocha .test pre {
    height: 0;
    display: none;
}

/* #progress-bar, #mocha { */
#tests {
    width: 900px;
    margin: auto;
}
.uncompleted {
    color: grey;
    pointer-events: none;
}

.completed {
    color: green;
}

/*
* ღილაკი უნდა იყოს 
*/
.next-step {
    margin-right: 10px;
    float: right;
}

#random-password-list p, .login-container {
    text-align: center;
}

#write-password-here{
    display:none;
}

#random-passwords-body{
    display:flex;
    width:80%;
    flex-wrap: wrap;
    margin:10px auto;
    justify-content: center;
}

.fake-password, .real-password{
    border:1px solid black;
    padding: 3px;
    margin:0;
}

.login-container #name-input,
.login-container #password-input {
    margin: 2px;
}

